* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
main {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
body {
    background: url(../images/background.jpg);
    background-size: cover;
}

.text-bucket{
    background:#122C40;
}

.all-text{
    font-family:Comic Sans MS;
    color: #BDDAEF;
}

.valid{
    color: #BDDAEF;
}

.input-style{
    color: #BDDAEF;
    background-color: #2D3C7D;
    border: 2px solid #3C537C;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    outline: none;
}

.input-style::placeholder {
    font-size: 90%;
    color:#BDDAEF;
    font-family:Comic Sans MS;
}

.input-style::-webkit-input-placeholder {
    font-size: 90%;

    color:#BDDAEF;
    font-family:Comic Sans MS;
}

.input-style::-moz-placeholder {
    font-size: 90%;
    color:#BDDAEF;
}


.input-style:-moz-placeholder {
    font-size: 90%;
    color:#BDDAEF;
    font-family:Comic Sans MS;
}

.input-style:-ms-input-placeholder {
    font-size: 90%;
    color:#BDDAEF;
    font-family:Comic Sans MS;
}

.btn-style{
    background-color: #3C537C;
    color:#BDDAEF;
    font-family:Comic Sans MS;
}