<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title> Corparation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shortcut icon" th:href="@{../static/images/Landing.png}" type="image/x-icon">
    <link media="all" rel="stylesheet" th:href="@{../static/css/main.css}" type="text/css"/>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
<div class="wrapper">
    <header class="p-2 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/index" class="nav-link px-2 text-white">Главная</a></li>
                    <li><a href="/ShippingPayment" class="nav-link px-2 text-white">Доставка и оплата</a></li>
                    <li><a href="/Guarantee" class="nav-link px-2 text-white">Гарантия</a></li>
                    <li><a href="/AboutUs" class="nav-link px-2 text-white">О нас</a></li>
                </ul>

                <p class="all-text ms-4 me-2" th:text="${name}"></p>
                <div class="text-end">
                    <a href="/basket" class="btn btn-outline-light text-bucket me-2">Корзина</a>
                    <a href="/profile" class="btn btn-outline-light text-bucket me-2">Профиль</a>
                </div>
                <form th:action="@{/logout}" method="post">
                    <input class="btn btn-warning" type="submit" value="Выход"/>
                </form>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-light"
                                       href="https://nbpublish.com/library_read_article.php?id=36188 ">купить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </main>
    <footer>
        <div class="container">
            <nav class="navbar">
                <ul class="nav">
                    <li class="nav-item ps-5">
                        <a class="nav-link text-white-50" href="mailto:Grovox@bk.ru">Grovox@bk.ru</a>
                    </li>
                    <li class="nav-item ps-5">
                        <a class="nav-link text-white-50" href="https://github.com/Grovox/BoardGameShop.git">Github</a>
                    </li>
                    <li class="nav-item ps-5">
                        <a class="nav-link text-white-50" href="tel:+79997006867">+79997006867</a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
</div>
<script>
    (function () {
        'use strict'
        // Получите все формы, к которым мы хотим применить пользовательские стили проверки Bootstrap
        var forms = document.querySelectorAll('.needs-validation')

        // Зацикливайтесь на них и предотвращайте отправку
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
</body>
</html>